$primary-color: #4caf50;

body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  color: white;
}

.App {
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: #000;
}