.generate-button {
  display: block;
  margin: 40px auto;
  padding: 10px 30px;
  font-size: 24px;
  cursor: pointer;
  background-color: #2563eb;
  color: #fff;
  border: none;
  border-radius: 4px;

  &:hover {
    background-color: #1e40af;
  }

  @media (max-width: 375px) {
    padding: 8px 25px;
    font-size: 18px;
  }
}